body { 
	padding-top: 70px;

}

h2 {
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 40px;
}

h3 {
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
}

.row {
	margin-bottom: 100px;
}

.container {
	margin: 0 auto;
}

.form-horizontal {
	float: left;
	width: 100%;
}

.side-panel {
	float: left;
	width: 100%;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	background: lightgray;
	font-size: 16px;
	height: 20px;
	width: 100%;
	overflow: hidden;
	margin: 20 auto;
	text-align: center;
	padding: 20px;
	clear: both;
}

.navbar-fixed-top {
	background-color: #4aaaa5;
}

.panel-heading {
	background-color: #4aaaa5;
}
